<ion-content [fullscreen]="true">
  <div class="enroll-container">
    <app-demo-config [config]="config" [showRefresh]="true" (refresh)="ngOnInit()"></app-demo-config>

    <div class="card-fields-container">
      <!-- Skyflow Elements will be injected here by mountCardFields() -->
       <div style="max-height: 70px; overflow: hidden">
        <div id="collect_native_cardholder_name" class="skyflow-field"></div>
       </div>
       <div style="max-height: 70px; overflow: hidden">
         <div id="collect_native_card_number" class="skyflow-field"></div>
       </div>
      <div class="collect-row">
        <div style="max-height: 70px; overflow: hidden">
          <div id="collect_native_expiration_month" class="skyflow-field"></div>
        </div>
        <div style="max-height: 70px; overflow: hidden">
           <div id="collect_native_expiration_year" class="skyflow-field"></div>
        </div>
        <div style="max-height: 70px; overflow: hidden">
          <div id="collect_native_cvv" class="skyflow-field"></div>
        </div>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <ion-button color="primary" expand="block" (click)="onSave($event)">
      Guardar tarjeta
    </ion-button>
  </div>
</ion-content>
