<div id="container">
<iframe class="tds-iframe" allowtransparency="true" id="tdsIframe"></iframe>
  <details class="api-keys-accordion">
    <summary>Configuración API</summary>
    <div class="api-keys-section">
      <div class="key-input">
        <label for="mode">Mode: </label>
        <select id="mode" [(ngModel)]="mode" (change)="initCheckout()">
          <option value="development">development</option>
          <option value="stage">stage</option>
          <option value="production">production</option>
        </select>
      </div>
      <div class="key-input">
        <label for="apiKey">Public Key: </label>
        <input id="apiKey" type="text" [(ngModel)]="apiKey" (change)="initCheckout()">
      </div>
      <div class="key-input">
        <label for="secretApiKey">Secret Key: </label>
        <input id="secretApiKey" type="text" [(ngModel)]="secretApiKey" (change)="initCheckout()">
      </div>
      <div class="key-input">
        <label for="amount">Amount: </label>
        <input id="amount" type="number" [(ngModel)]="amount" (change)="ngOnInit()">
      </div>
      <div class="key-input">
        <label for="currency">Currency: </label>
        <input id="currency" type="text" [(ngModel)]="currency" (change)="ngOnInit()">
      </div>
    </div>
  </details>
  <form [formGroup]="paymentForm">

    <div class="lite-container-tonder">

      <div id="id-name" class="empty-div">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div id="id-cardNumber" class="empty-div">
        <label for="cardNumber">Card number: </label>
        <input id="cardNumber" type="text" formControlName="cardNumber">
      </div>

      <div class="collect-row">
        <div class="empty-div">
          <label for="month">Month: </label>
          <input id="month" type="text" formControlName="month">
        </div>
        <div class="expiration-year">
          <label for="expirationYear">Year: </label>
          <input id="expirationYear" type="text" formControlName="expirationYear">
        </div>
        <div class="empty-div">
          <label for="cvv">CVV: </label>
          <input id="cvv" type="text" formControlName="cvv">
        </div>
      </div>

      <div id="msgError">{{ errorMessage }}</div>
      <div id="msgNotification"></div>

      <button class="lite-pay-button" (click)="onPayment($event)">Pay</button>

    </div>

  </form>
