<div id="container">
  <iframe class="tds-iframe" allowtransparency="true" id="tdsIframe"></iframe>
  <app-demo-config [config]="config" [showPaymentFields]="true" [showRefresh]="true" (refresh)="ngOnInit()"></app-demo-config>

  <div class="lite-container-tonder">

    <!-- Skyflow Elements will be injected here by mountCardFields() -->
     <div style="max-height: 70px; overflow: hidden">
        <div id="collect_cardholder_name"></div>
     </div>
    <div style="max-height: 80px; overflow: hidden">
      <div id="collect_card_number"></div>
    </div>

    <div class="collect-row">
      <div style="max-height: 70px; overflow: hidden">
        <div id="collect_expiration_month"></div>
      </div>
      <div style="max-height: 70px; overflow: hidden">
        <div id="collect_expiration_year"></div>
      </div>
      <div style="max-height: 70px; overflow: hidden">
        <div id="collect_cvv"></div>
      </div>
    </div>

    <button class="lite-pay-button" (click)="onPayment($event)">Pay</button>

  </div>

</div>
