<div id="container">
  <div class="api-config">
      <details class="api-keys-accordion">
    <summary>Configuración API</summary>
    <div class="api-keys-section">
      <div class="key-input">
        <label for="mode">Mode: </label>
        <select id="mode" [(ngModel)]="mode" (change)="initCheckout()">
          <option value="development">development</option>
          <option value="stage">stage</option>
          <option value="production">production</option>
        </select>
      </div>
      <div class="key-input">
        <label for="apiKey">Public Key: </label>
        <input id="apiKey" type="text" [(ngModel)]="apiKey" (change)="initCheckout()">
      </div>
      <div class="key-input">
        <label for="secretApiKey">Secret Key: </label>
        <input id="secretApiKey" type="text" [(ngModel)]="secretApiKey" (change)="initCheckout()">
      </div>
    </div>
  </details>
  </div>
  <form id="payment-form">
    <div id="tonder-checkout-enrollment"></div>
  </form>
  <button *ngIf="externalButton" class="external-payment-button" (click)="onSave($event)">Guardar</button>
  <div id="container-external-selector" class="empty-div">
    <label for="external-selector">External button: </label>
    <input id="external-selector" (change)="onExternalSelectorClick($event)" type="checkbox">
  </div>
</div>